@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color";
.lineup {
    background-color: v.$rosa;

    h3,
    .dia {
        text-align: center;
        color: v.$blanco;
    }

    .dia {
        font-size: 3rem;
        text-transform: uppercase;
    }
}

.escenarios-contenedor {
    @include m.contenedor;

    @include m.tablet {
        @include m.grid(2);
    }
}

.escenario {
    padding-top: 2rem;

    .nombre-escenario {
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
    }
}

ul {
    @include m.resetear-lista;

    li {
        padding: 2.5rem;
        font-weight: 700;

        span {
            font-weight: 400;
        }
    }
}

.bg-amarillo,
.bg-verde {
    margin-bottom: 1rem;
}
@include m.tablet {
    .bg-amarillo,
    .bg-verde {
        margin-bottom: 0;
    }
}

.bg-amarillo {
    background-color: v.$amarillo;

    li:nth-child(odd) {
        // background-color: lighten(v.$amarillo, 10%);
        background-color: color.adjust(v.$amarillo, $lightness: 10%);
    }
}

.bg-verde {
    background-color: v.$verde;

    li:nth-child(odd) {
        // background-color: lighten(v.$verde, 10%);
        background-color: color.adjust(v.$verde, $lightness: 10%);
    }
}