@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color";
.video {
    position: relative;
    min-height: 35rem;
    max-height: 85rem;
    overflow: hidden;
    .overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(
            270deg,
            rgba(v.$morado,60%),
            /*rgba(darken(v.$morado,20%),80%)]*/
            rgba(color.adjust(v.$morado, $lightness: -20%), 0.8)
        );
        display: flex;
        align-items: center;
    }

    video {
        display: block;
        width: auto;
        @include m.desktop{
            width: 100%;
        }
    }
}
.contenido-video{
    z-index: 10;
    h2{
        color: v.$blanco;
        font-size: 7rem;
        margin: 0;
    }
    p{
        display: inline-block;
        background-color: v.$rosa;
        padding: 1rem 2rem;
        color: v.$blanco;
        font-size: 2.2rem;
        font-weight: 700;
    }
}